* {
    box-sizing: border-box;
    font-family: 'Nunito', monospace;
}


@media only screen and (min-width: 768px) {
    #footer {
        position:absolute;
        bottom:0;
        width:100%;
    }
    
}



